body{
	width: 100%;
	overflow: auto;
	margin: auto;
	background-color: #f4f4f4;
	font-family: Arial, Helvatica, sans-serif;
}

hr{
	width: 100%;
}
header{
	background: #35424a;
    color: #ffffff;
    min-height: 75px;
    border-bottom: #e8491d 3px solid;
}
header h1{
	color: #ffffff;
	margin-bottom: 2px;
}

header a{
	text-decoration: none;
}

.globalContainer{
	overflow: hidden;
}

#site_logo{
	float: left;
	padding: 0px;
	margin-left: 12px;
}

.container h3{
	margin: auto;
	margin-top: 100px;
	text-align: right;
}

.container p a{
	text-decoration: none;
	margin-left: 100px;
	text-align: center;
	font-size: 18px;
}

td p a:hover{
	font-size: 14px;
	color: #e8491d;
	font-weight: bold;
}

td p a{
	font-size: 14px;
	color: #FFA500;
	font-weight: bold;
}

#site_logo a{
	text-decoration: none;
}

.login-form-presentation{
	float: right;
	margin-top: 10px;
}
header{
	margin: 0px;
}

header .appSymbol{
	color: #e8491d;
	font-weight: bold;
}

#f89_, button{
	height: 38px;
  	background: #e8491d;
  	border: 0;
  	padding-left: 20px;
  	padding-right: 20px;
  	color: #ffffff;
  	font-weight: bold;
}

.signupInput{
	padding: 5px;
	border-radius: 4px;
	outline: none;
	font-weight: bold;
	color: #35424a;
	height: 20px;
	margin-bottom: 5px;
}

.signup label{
	color: #35424a;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

button{
	width: 188px;
	border-radius: 10px;
	margin-top: 5px;
	font-size: 18px;
}
/* Section */
.contentContainer{
	overflow: auto;
}

.contentContainerRightFloat{
	float: right;
	width: 60%;
	text-align: center;
}
.contentContainerLeftFloat{
	float: left;
	width: 37%;
}

.inputtext, label{
	margin-left:3px;
}

.inputtext, #f89_{
	height: 20px;
}

#f89_{
	height: 28px;
	border-radius: 10px;
}

.foget_password_link{
	color: #ffffff;
}

.foget_password_link:hover{
	color: #e8491d;
}

.container h1{
	color: #35424a;
}

footer{
	font-weight: bold;
	position: absolute;
	bottom: 0;
	color: #ffffff;
    background-color: #e8491d;
    width: 100%;
    text-align: center;
    min-height: 30px;
}

/* User Profile Page */
li{
	list-style: none;
	display: inline;
	float: left;
	padding: 10px;
	border: 1px solid #AFEEEE;
	border-radius: 5px;
	margin: 5px;
}

.contentContainerProfile{
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

li a{
	text-decoration: none;
}

.contentContainerLeftFloatProfile{
	float: left;

}

.contentContainerRightFloatProfile{
	float: right;
}

.storiesContainer{
	border-bottom: 1px solid #e8491d;
	margin-top: 150px;
	padding: 5px;
}

.storiesContainer a{
	margin-right: 15px;
	text-decoration: none;
	color: black;
	margin-top: 120px;
	display: inline;
}

.current{
	font-weight: bolder;
	color: #e8491d;
}

.upro{
	font-weight: bolder;
}

.upro a:hover{
	color: yellow;
}

.container_form{
	text-align: left;
	margin-left: 100px;
}

#others{
	width: 300px;
}
.loc{
	border: 1px solid black;
	padding: 1px;
	background: gray;
	cursor: no-drop;
	padding-left: 2px;
	padding-right: 2px;
}

.allintervention{
	margin-top: 5px;
}
.allintervention table tbody tr td, tr th{
	margin-left: 10px;
	text-align: left;
}
.allintervention table{
	width: 100%;
}